<p id="notice"><%= notice %></p>

<h1>Histories</h1>

<table class="table table-striped bg-light rounded" >
  <thead>
    <tr>
      <th><%= sortable "created_at", "Date" %></th>
      <th><%= sortable "brand" %></th>
      <th><%= sortable "product" %></th>
      <th><%= sortable "amount" %></th>
      <th><%= sortable "order_code", "Order" %></th>
      <th>
        <%= form_tag(histories_path, method: :get, class: 'form-inline') do %>
          <%= text_field_tag :search,"", class: "form-control", placeholder: "search" %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.created_at.strftime('%F ( %T )') %></td>
        <td><%= history.brand %></td>
        <td><%= history.product %></td>
        <td><%= history.amount %></td>
        <td><%= history.order_code %></td>
        <td><%= link_to 'Destroy', history, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-dark btn-block" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= paginate @histories %>