<%= form_with(model: brand, local: true) do |form| %>
  <% if brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table table-defaule bg-light rounded">
  <tr class="field">
    <td><%= form.label :name %></td>
    <td><%= form.text_field :name, class: "form-control" %></td>
  </tr>

  <tr class="field">
    <td><%= form.label :status %></td>
    <td><%= form.select(:status, options_for_select([["Ongoing"], ["Pending"]]), {}, {:class => "form-control"}) %></td>
  </tr>

  <tr class="actions">
    <td colspan="2">
      <span class="action d-flex justify-content-between">
        <span>
        <%= link_to 'Back', brands_path, class: "btn btn-white" %>
          <% if params[:action] == "edit" %>
          | <%= link_to 'Details Page', @brand, class: "btn btn-white" %>
          <% end %>
        </span>
        <%= form.submit class: "btn btn-primary" %>
      </span>  
    </td>
  </tr>
</table>
<% end %>
