<h1>Product Details</h1>
<table class="table table-striped bg-light mt-3">
  <% if notice %>
  <tr id="notice">
      <td colspan="2" ><%= notice %></td>
  </tr>
  <% end %>

  <tr>
    <td><strong>Product:</strong></td>
    <td><%= @product.name %></td>
  </tr>

  <tr>
    <td><strong>Brand:</strong></td>
    <td><%= @product.brand %></td>
  </tr>

  <tr>
    <td><strong>Amount:</strong></td>
    <td><%= @product.status %></td>
  </tr>

  <tr>
    <td colspan="2">
    <span class="d-flex justify-content-between">
      <%= link_to 'Go to Edit', edit_product_path(@product), class: "btn btn-primary" %>
      <%= link_to 'Back', products_path, class: "btn btn-white" %>
    </span>
    </td>
  </tr>
</table>